<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="page-title"><%= title %></h1>
    <a href="<%= backLink %>" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left"></i> <%= backText %>
    </a>
</div>