<div>
    <div class="code-block">
        <button class="copy-button" data-clipboard-target="#js-initiate-code">
            <i class="fas fa-copy"></i>
        </button>
        <pre><code class="language-javascript" id="js-initiate-code">const response = await fetch('https://checkout.cachetechs.com/api/initiatePaymentIntent', {
    method: 'POST',
    headers: {
        'Authorization': 'Basic <%= Buffer.from(app.appId + ':' + app.appSecret).toString('base64') %>',
        'x-api-key': '<%= app.apiKey %>',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        amount: 2,
        orderId: "TRX-OR-090909",
        mobileNumber: "+23445454543",
        network: "MTN",
        callbackUrl: "https://you-domain/your-endpoint-callbck",
        details: {
          mobileNumber: "2348087574",
          email: "info@cachetechs.com",
          payeeName: "Cache Technology",
          orderDescription: "Paying for Water"
        }
      })
});</code></pre>
    </div>
</div>