<div>
    <div class="code-block">
        <button class="copy-button" data-clipboard-target="#php-initiate-code">
            <i class="fas fa-copy"></i>
        </button>
        <pre><code class="language-php" id="php-initiate-code"><?php
$appId = '<%= app.appId %>';
$appSecret = '<%= app.appSecret %>';
$apiKey = '<%= app.apiKey %>';

$credentials = base64_encode("$appId:$appSecret");

$headers = [
    'Authorization: Basic ' . $credentials,
    'x-api-key: ' . $apiKey,
    'Content-Type: application/json'
];

$payload = [
    "amount" => 2,
    "orderId" => "TRX-OR-090909",
    "mobileNumber" => "+23445454543",
    "network" => "MTN",
    "callbackUrl" => "https://you-domain/your-endpoint-callbck",
    "details" => [
        "mobileNumber" => "2348087574",
        "email" => "info@cachetechs.com",
        "payeeName" => "Cache Technology",
        "orderDescription" => "Paying for Water"
    ]
];

$ch = curl_init('https://checkout.cachetechs.com/api/initiatePaymentIntent');
curl_setopt($ch, CURLOPT_POST, 1);
curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));
curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);

$response = curl_exec($ch);
curl_close($ch);</code></pre>
    </div>
</div>