<div class="authentication-info mb-4">
    <h5>Authentication</h5>
    <p>All API requests require the following headers:</p>
    <ul>
        <li><code>Authorization: Basic &lt;credentials&gt;</code> - Base64 encoded <code>appId:appSecret</code></li>
        <li><code>x-api-key: &lt;apiKey&gt;</code> - Your API key</li>
    </ul>
</div>